*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-content {
  background-image: url(images/background.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  display: flex;
  justify-content: center;
  border: 5px double black;
}

.start-button {
  text-decoration: none;
  font-size: 50px;
  font-weight: 700;
  margin: 15px;
  color: rgba(13, 37, 73, 0.9);
}
p {
  margin-top: 30px;
  font-weight: 500;
  font-size: larger;
}
